name: test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-22.04
    container:
      image: osrf/ros:humble-desktop
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          apt-get update
          # rosdepの初期化と更新
          rosdep update
          # package.xmlに書かれた依存関係(psutilなど)をインストール
          rosdep install --from-paths src --ignore-src -r -y

      - name: Build
        run: |
          . /opt/ros/humble/setup.sh
          colcon build --packages-select battery_notifier

      - name: Run Black Box Test (Shell Script)
        run: |
          . /opt/ros/humble/setup.sh
          . install/setup.sh
          # ここで作成したシェルスクリプトを実行！
          # -xv オプションをつけると実行ログが詳しく出てデバッグしやすいです
          bash -xv ./test/test.bash