name: test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-22.04
    container:
      image: osrf/ros:humble-desktop
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          # 【重要】ここを変更！
          # コードをカレントディレクトリではなく "src/battery_notifier" の中にダウンロードします
          # これでROSのワークスペース構成（~/ros2_ws/src/...）を再現できます
          path: src/battery_notifier

      - name: Install dependencies
        run: |
          apt-get update
          rosdep update
          # "src" フォルダができたので、このコマンドが通るようになります
          rosdep install --from-paths src --ignore-src -r -y

      - name: Build
        run: |
          . /opt/ros/humble/setup.sh
          # ワークスペースのルートからビルドします
          colcon build --symlink-install

      - name: Run Black Box Test (Shell Script)
        run: |
          . /opt/ros/humble/setup.sh
          . install/setup.sh
          # コードの場所が変わったので、スクリプトのパスも修正します
          bash -xv src/battery_notifier/test/test.bash